.home-section {
 display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #000000;
  color: white;
  min-height: 100vh;
  gap: 100px;
}

.text-section {
  flex: 1;
  padding-right: 20px;
  color: white;
}

.image-section {
  display: flex;
  align-items: center;

}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}